In [1]:
import pandas as pd

df = pd.read_csv('notas.csv')
df.head()

  note              value
0   C4  10000000000000001
1   C3  10000000000000010
2   C2  10000000000000100
3   C1  10000000000001000
4  C#4   1000000000000001

In [2]:
newArr = []
for i in df['value']:
    newArr.append(int(str(i),2))

df['value'] = newArr

df.head()

  note  value
0   C4  65537
1   C3  65538
2   C2  65540
3   C1  65544
4  C#4  32769

In [7]:
df = pd.read_csv('notas.csv')
newDf = pd.DataFrame()
newDf['value'] = df['value']
newDf['note'] = df['note']
newDf.to_csv('notas.csv')

In [3]:
import pandas as pd
df = pd.read_csv('notas.csv')
df['note'] = "notas/" + df['note'] + ".wav"
df.to_csv('notas.csv')